{
  "extends": "eslint:recommended",
  "plugins": ["webdriverio"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "env": {
    "webdriverio/wdio": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "TEST_SUITE_CONFIG": true,
    "chance": true,
    "assert": true,
    "Promise": true
  },
  "rules": {
    "no-console": 0
  }
}
